---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: po-wallet-deployment
  namespace: {{ .Release.Namespace }}
  labels:
    app: po-wallet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: po-wallet
  template:
    metadata:
      labels:
        app: po-wallet
    spec:
      serviceAccountName: wallet-migration-waiter
      initContainers:
        - name: wait-for-migration
          image: groundnuty/k8s-wait-for:v2.0 # TODO verify this image
          args:
          - "job"
          - "po-wallet-migrate-job-{{ .Values.image.tag | default .Chart.AppVersion }}"
      containers:
        - name: po-wallet
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          args:
          - "--serve"
          env:
          {{ if .Values.persistance.cloudNativePG.enabled }}
            - name: DB_HOST
              value: {{ .Values.persistance.cloudNativePG.name }}-rw
            - name: DB_PORT
              value: "5432"
            - name: DB_DATABASE
              value: {{ .Values.persistance.cloudNativePG.database }}
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.persistance.cloudNativePG.name }}-app
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.persistance.cloudNativePG.name }}-app
                  key: password
            - name: ConnectionStrings__Database
              value: Host=$(DB_HOST); Port=$(DB_PORT); Database=$(DB_DATABASE); Username=$(DB_USERNAME); Password=$(DB_PASSWORD);
          {{ end }}
