name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@5482a44c91bf6301c91205397d0d59667bbb8758

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@5482a44c91bf6301c91205397d0d59667bbb8758

  verify-renovate-config:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@5482a44c91bf6301c91205397d0d59667bbb8758

  verify-chart:
    uses: project-origin/.github/.github/workflows/reusable-verify-chart.yaml@5482a44c91bf6301c91205397d0d59667bbb8758

  verify-container-build:
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@5482a44c91bf6301c91205397d0d59667bbb8758
    with:
      imagename: ghcr.io/project-origin/vault
      version: test
      context: .
      dockerfile: ./Vault.Dockerfile
      push: false
