name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@749b106eed006da110a5d1c97b28c63a05ce96c9

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@749b106eed006da110a5d1c97b28c63a05ce96c9

  verify-renovate-config:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@749b106eed006da110a5d1c97b28c63a05ce96c9

  verify-chart:
    uses: project-origin/.github/.github/workflows/reusable-verify-chart.yaml@749b106eed006da110a5d1c97b28c63a05ce96c9

  verify-container-build:
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@749b106eed006da110a5d1c97b28c63a05ce96c9
    with:
      imagename: ghcr.io/project-origin/vault
      version: test
      context: .
      dockerfile: ./Vault.Dockerfile
      push: false
