name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@9edbeae2ec32695cd879942a300824b5470294a7

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@9edbeae2ec32695cd879942a300824b5470294a7

  verify-renovate-config:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@9edbeae2ec32695cd879942a300824b5470294a7

  verify-chart:
    uses: project-origin/.github/.github/workflows/reusable-verify-chart.yaml@9edbeae2ec32695cd879942a300824b5470294a7

  verify-container-build:
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@9edbeae2ec32695cd879942a300824b5470294a7
    with:
      imagename: ghcr.io/project-origin/vault
      version: test
      context: .
      dockerfile: ./Vault.Dockerfile
      push: false
