name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@main

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@main

  verify-renovate-config:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@main

  verify-chart:
    uses: project-origin/.github/.github/workflows/reusable-verify-chart.yaml@main

  verify-container-build:
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@main
    with:
      imagename: ghcr.io/project-origin/wallet-server
      version: test
      context: ./src
      dockerfile: ./src/ProjectOrigin.WalletSystem.Server/Dockerfile
      push: false

