name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f

  verify-renovate-config:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f

  verify-chart:
    uses: project-origin/.github/.github/workflows/reusable-verify-chart.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f

  verify-container-build:
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f
    with:
      imagename: ghcr.io/project-origin/vault
      version: test
      context: .
      dockerfile: ./Vault.Dockerfile
      push: false
