name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@7f744ae5d471b54022498939441226bb7f5a2584

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@7f744ae5d471b54022498939441226bb7f5a2584

  verify-renovate-config:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@7f744ae5d471b54022498939441226bb7f5a2584

  verify-chart:
    uses: project-origin/.github/.github/workflows/reusable-verify-chart.yaml@7f744ae5d471b54022498939441226bb7f5a2584

  verify-container-build:
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@7f744ae5d471b54022498939441226bb7f5a2584
    with:
      imagename: ghcr.io/project-origin/vault
      version: test
      context: .
      dockerfile: ./Vault.Dockerfile
      push: false
