name: Build release artifacts

on:
  workflow_dispatch: {}
  release:
    types: [published]

jobs:
  define-version:
    uses: project-origin/.github/.github/workflows/reusable-tag-version.yaml@f4f0bff8100209ba81bf01a8705b46e5889ce7cb

  publish-container:
    needs:
      - define-version
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@f4f0bff8100209ba81bf01a8705b46e5889ce7cb
    with:
      imagename: ghcr.io/project-origin/vault
      version: ${{ needs.define-version.outputs.version }}
      context: .
      dockerfile: ./Vault.Dockerfile
      push: true

  publish-chart:
    needs:
      - define-version
      - publish-container
    uses: project-origin/.github/.github/workflows/reusable-publish-chart.yaml@f4f0bff8100209ba81bf01a8705b46e5889ce7cb
    with:
      version: ${{ needs.define-version.outputs.version }}
      chart_folder: chart
      helm_registry_repository: project-origin/helm-registry
    secrets:
      helm_registry_token: ${{ secrets.HELM_REGISTRY_TOKEN }}

  publish-openapi:
    name: Publish openapi to swaggerhub
    runs-on: ubuntu-24.04
    needs:
      - define-version
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install swaggerhub cli
        run: npm i -g swaggerhub-cli

      - name: Prepare openapi.json
        run: jq '.info.version = "${{ needs.define-version.outputs.version }}"' test/ProjectOrigin.Vault.Tests/ApiTests/ApiTests.open_api_specification_not_changed.verified.txt > openapi.json

      - name: Publish to swaggerhub
        env:
          SWAGGERHUB_API_KEY: ${{ secrets.SWAGGERHUB_API_KEY }}
        run: |
          if ${{ !github.event.release.prerelease }}; then
            swaggerhub api:create Project-Origin/WalletSystem/${{ needs.define-version.outputs.version }} --visibility=public --published=publish --setdefault --file openapi.json
          else
            swaggerhub api:create Project-Origin/WalletSystem/${{ needs.define-version.outputs.version }} --visibility=public --file openapi.json
          fi

      - name: Append openapi link to release notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release view v${{ needs.define-version.outputs.version }} --json body  -q .body > body.md
          cat << EOF >> body.md
          ## OpenAPI
          [OpenAPI Specification](https://app.swaggerhub.com/apis/Project-Origin/WalletSystem/${{ needs.define-version.outputs.version }})
          EOF
          gh release edit v${{ needs.define-version.outputs.version }} -F body.md
